.App {
  text-align: center;
}
.SongBox {
  background-color: blue;
  width: 500px;
  height: 500px;
  margin-top: 50px;
}
#test {
  color: white;
}
.Song {
  background-color: red;
  width: 100px;
  height: 100px;
}



